@(msg: String, messages: List[Message], members: List[Member])

@import helper._

@main("sample page") {
  <script src="@routes.Assets.at("javascripts/index.js")"></script>
  <h1>hello</h1>
  <p><input type="text" id="input"><button id="sendbtn">submit</button></p>

  <p id="message">@msg</p>

  <table>
    <tr>
      <th>id</th>
      <th>Message</th>
    </tr>
    @for(message <- messages){
      <tr>
        <td>@message.id</td>
        <td>@message.message</td>
      </tr>
    }
  </table>

  <hr>

  <table>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Mail</th>
      <th>Tel</th>
    </tr>
    @for(member <- members){
      <tr>
        <td>@member.id</td>
        <td>@member.name</td>
        <td>@member.mail</td>
        <td>@member.tel</td>
      </tr>
    }
  </table>
}
