@(msg: String, form1: Form[(String, String, Boolean, String, String, String, java.util.Date)])

@import helper._

@main("sample page") {
  <h1>hello</h1>
  <p>
    @msg
  </p>
  @form(action = routes.Application.send) {
    @inputText(form1("input"))
    @inputPassword(form1("pass"))
    @checkbox(form1("check"))
    @inputRadioGroup(
      field = form1("radio"),
      options = Seq("windows" -> "Windows", "mac" -> "Mac OS X", "linux" -> "Linux")
    )
    @select(
      field = form1("sel"),
      options = Seq("jp" -> "Japan", "us" -> "United States", "uk" -> "UK")
    )
    @textarea(form1("area"))
    @inputDate(form1("date"))
    <input type="submit"/>
  }
}
