@(msg: String, messages: List[Message], members: List[Member])

@main("Sample page") {

  <h1>Hello!</h1>
  <p>@msg</p>
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>message</th>
        <th>postdate</th>
      </tr>
    </thead>
    <tbody>
      @messages.map { message =>
      <tr>
        <td>@message.id</td>
        <td>@message.name</td>
        <td>@message.message</td>
        <td>@message.postdate</td>
      </tr>
      }
    </tbody>
  </table>

  <hr/>
  <p>Member Model</p>
  <p>@members</p>
}
